body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
margin: 0;
padding: 0;
}

#conteneur {
position: absolute;
width: 100%;
background-color: #0074b9;
}

#tete {
height: 120px;
background-color: #0074b9;
padding-top: 20px;
}

#logo
{
position: absolute; 
padding: 0px;
padding-left: 20px;
}

a img
{
border: none;
}

#banniere
{
   padding: 0px;
   margin-left: 150px;
   text-align: center;
}

#tete p
{
   padding: 0px;
   margin-left: 150px;
   margin-bottom: 10px;
   color: #ffffff;
   font-size: 12px;
   text-align: center;
}

#tete a
{
   padding: 0px;
   margin-bottom: 10px;
   color: #ffffff;
   font-size: 12px;
   text-align: center;
}

#menu {
position: absolute;
left:0;
width: 150px;
background-color: #0074b9;
}

.titre_menu
{
   padding-top: 6px;
   padding-bottom: 6px;
   text-align: center;
   background-color: #b80047;
   color: #ffffff;
   font-size: 18px;
   font-weight: bold;
}

.element_menu
{
   margin-bottom: 20px;
}

.element_menu ul
{
   padding: 0px;
   padding-top:10px;
   padding-left: 30px;
   margin: 0px;
   margin-bottom: 10px;
   color: #ffffff;
   font-size: 12px;
}

.element_menu li
{
padding-bottom: 6px;
}

.element_menu a /* Tous les liens se trouvant dans un menu */
{
   color: #ffffff;
}

#corps {
background-color:#ffffff;
margin-left: 150px;
padding: 10px;
}

#corps h1 /*grand, rose - pôur les titres des pages*/
{
   color: #b80047;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}

#corps h2
{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}

#corps h3
{
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}

#corps h4 /*titres roses du sommaire grammaire*/
{
   color: #b80047;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}

#corps h5 /*titres roses des chapitres*/
{
   color: #b80047;
   text-align: left;
   font-size: 14px;
   font-weight: bold;
   text-decoration: underline
}

#corps p
{
   font-size: 14px;
}

#corps em
{
   font-style: italic;
}

#corps strong
{
   font-weight: bold;
}

#corps sup
{
   font-size: 10px;
}

.soulignement
{
text-decoration: underline
}

.lien_grammaire
{
text-align: center;
font-size: 14px;
}

.lien_grammaire a /*à définir !!! */
{


}

.texte_une /*texte de la première page, comme p mais centré*/
{
text-align: center;
font-size: 14px;
}

.bordure 
{
width: 60%;
margin: auto;
padding: 10px;
text-align: center;
border: 4px dotted #0074b9;
}

.titre_news
{
font-size: 16px;
font-weight: bold;
color: #b80047;
}

.remarque /*texte comme p mais plus petit*/
{
text-align: center;
font-size: 10px;
}

.centrage_image
{
text-align: center;
}

#fleche
{
text-align: center;
}

#pied {
margin-left: 150px;
height: 30px;
padding: 15px;
background-color: #ffffff;
text-align: center;
font-size: 10px;
}

table
{
   border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
   background-color: #ffffcc;
   margin: auto; /* Centre le tableau */
   width: 90%
}

th
{
   color: #b80047;
}

td, th /* Toutes les cellules des tableaux... */
{
   border: 1px solid black;
   text-align: center; /* Tous les textes des cellules seront centrés*/
   padding: 4px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
   width: 20%
}

.lettrine /*lettrines du tableau des proverbes*/
{
text-align: center;
font-size: 24px;
font-weight: bold;
background-color: #ffffff;
border-left: none;
border-right: none;
}